.prod-banner {
    background: url('../../img/places/bg/bg.png') no-repeat center center / cover;
    height: 60vh;
    &__wrap {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    &__title {
        font-size: 110px;
        font-family: "Montserrat";
        &.active {
            animation: jump_down 0.7s ease-in-out forwards;
        }
        transform: translateY(-100px);
        opacity: 0;
        @media (max-width: 1000px) {
            font-size: 100px;
        }
        @media (max-width:670px) {
            font-size: 70px;
        }

        @media (max-width: 500px) {
            font-size: 65px;
        }
        @media (max-width: 425px) {
            font-size: 60px;
            
        }
        @media (max-width: 320px) {
            font-size: 40px;
        }
    }
}