@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat.ttf);
}
.place {
  width: 100%;
  margin: 100px 0;
}
.place__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 350px;
  height: 350px;
}
.place__wrap {
  display: flex;
  font-family: "Montserrat";
  gap: 50px;
}
.place__grid {
  display: grid;
  max-width: -moz-fit-content;
  max-width: fit-content;
  grid-template-columns: 350px 350px;
}
.place__grid-block {
  margin: 15px;
}
.place__grid-title {
  font-size: 30px;
  margin-bottom: 5px;
}
.place__grid-text {
  font-size: 25px;
  font-weight: 400;
}
.place__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #0A1420;
  padding: 20px;
  color: white;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
}
.place__info-sep {
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
}
.place__title {
  font-size: 45px;
}
.place__text {
  font-size: 25px;
}