@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat.ttf);
}
.place {
  width: 100%;
  margin: 100px 0;
}
@media (max-width: 1250px) {
  .place {
    margin: 50px 0;
  }
}
.place__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 350px;
  height: 350px;
}
@media (max-width: 1250px) {
  .place__img {
    width: 25vw;
    height: 25vw;
  }
}
@media (max-width: 768px) {
  .place__img {
    width: 100%;
    height: 40vw;
  }
}
@media (max-width: 550px) {
  .place__img {
    height: 100%;
    border-radius: 10px;
  }
}
.place__wrap {
  display: flex;
  font-family: "Montserrat";
  gap: 50px;
  margin: 0 10px;
}
@media (max-width: 768px) {
  .place__wrap {
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
  }
}
@media (max-width: 550px) {
  .place__wrap {
    margin: 0 15px;
  }
}
.place__grid {
  display: grid;
  max-width: -moz-fit-content;
  max-width: fit-content;
  grid-template-columns: 350px 350px;
}
@media (max-width: 1250px) {
  .place__grid {
    grid-template-columns: 25vw 25vw;
  }
}
@media (max-width: 768px) {
  .place__grid {
    grid-template-columns: 1fr 1fr;
  }
}
.place__grid-block {
  margin: 15px;
}
.place__grid-title {
  font-size: 30px;
  margin-bottom: 5px;
}
@media (max-width: 1250px) {
  .place__grid-title {
    font-size: 3vw;
  }
}
@media (max-width: 768px) {
  .place__grid-title {
    font-size: 5vw;
  }
}
@media (max-width: 550px) {
  .place__grid-title {
    font-size: 7vw;
  }
}
.place__grid-text {
  font-size: 25px;
  font-weight: 400;
}
@media (max-width: 1250px) {
  .place__grid-text {
    font-size: 1.7vw;
  }
}
@media (max-width: 768px) {
  .place__grid-text {
    font-size: 3vw;
  }
}
@media (max-width: 550px) {
  .place__grid-text {
    font-size: 4vw;
    font-weight: 500;
  }
}
.place__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #0A1420;
  padding: 20px;
  color: white;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
}
@media (max-width: 1250px) {
  .place__info {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .place__info {
    width: unset;
  }
}
.place__info-sep {
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
}
.place__title {
  font-size: 45px;
}
@media (max-width: 1250px) {
  .place__title {
    font-size: 3vw;
  }
}
@media (max-width: 768px) {
  .place__title {
    font-size: 5vw;
  }
}
@media (max-width: 550px) {
  .place__title {
    font-size: 8vw;
  }
}
.place__text {
  font-size: 25px;
}
@media (max-width: 1250px) {
  .place__text {
    font-size: 2vw;
  }
}
@media (max-width: 768px) {
  .place__text {
    font-size: 3vw;
  }
}
@media (max-width: 550px) {
  .place__text {
    font-size: 4vw;
  }
}